{% load static i18n %}

<!DOCTYPE html>

{% get_current_language as LANGUAGE_CODE %}
{% if LANGUAGE_CODE == 'fa' %}
<html lang="en" dir="rtl">
{% else %}
<html lang="en" dir="ltr">
{% endif %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static '/bootstrap-4/css/bootstrap.min.css' %}">

    <script src="{% static '/js/jquery-3.min.js' %}"></script>
    <script src="{% static '/js/popper.min.js' %}"></script>
    <script src="{% static '/bootstrap-4/js/bootstrap.min.js' %}"></script>


    {% block head %}

    {% endblock %}

    <style>

    body{
        background-color:#e3f2fd;
    }

    {% get_current_language as LANGUAGE_CODE %}
    {% if LANGUAGE_CODE == 'fa' %}

        .main{
            text-align: right;
        }

    {% else %}

        .main{
            text-align: left;
        }

    {% endif %}


        {% block css %}

        {% endblock %}
    </style>

<title>
    {% block title %}
    
    {% endblock %}
</title>


</head>
<body>

    <div class="main">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>