{% extends 'base.html' %}
{% load i18n %}

{% block head %}

{% endblock %}



{% block css %}

    {% get_current_language as LANGUAGE_CODE %}
    {% if LANGUAGE_CODE == 'fa' %}
    
    .container{
        margin-right: 100px;
    }
    
    {% else %}
    
    .container{
        margin-left: 100px;
    }
    
    {% endif %}
    
{% endblock %}




{% block content %}

{% include 'navbar.html' %}

<div class="container">

    <div class="row">

        <div class="col-lg-5" >
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <label class="sr-only" for="username">{% trans 'Username' %}</label>
                    <input type="text" class="form-control mb-2" id="username" placeholder="{% trans 'Enter Your Username Here' %}">
                    <small id="usernameHelp" class="form-text text-muted mb-2">
                        {% trans 'Enter a username to view the expiration date of your account' %}
                    </small>
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary mb-2">{% trans 'Get Result' %}</button>
                </div>
            </div>

        </div>

        
        <div class="col-lg-5" style="margin-left: 10rem;" id="result">

        </div>

    </div>


</div>

<script>

    $("button").click(function () {

        alert('hello');
        // var username = $("#username").val();
        // if (username){
        //     $.ajax({
        //         url: "/ajax/get_user_result/",

        //         data: {
        //             'username': username,
        //         },
        //         success: function (data) {

        //         },

        //         error: function () {
                   
        //         }

        //     }); //end ajax
        // } //endif 
       
    });

</script>


{% endblock %}