{% extends 'base.html' %}
{% load static i18n %}


{% block title %}
    {% trans 'Login Page' %}
{% endblock %}


{% block css %}
.main{
    margin-top:100px;

}

{% get_current_language as LANGUAGE_CODE %}
{% if LANGUAGE_CODE == 'fa' %}

    .main{
        margin-right :150px ;
    }

{% else %}

    .main{
        margin-left :150px ;

    }

{% endif %}

{% endblock %}



{% block content %}
<div class="main">



    <h1>{% trans 'Login Page' %}</h1><br>

    <div class="row">

    <div class="col-lg-5">
        <div class="form-row align-items-center">
            <div class="col-auto">

            <form method="POST">{% csrf_token %}

                <div class="form-group">
                        <label class="form-check-label" for="username">{% trans 'Username' %} :</label>
                    <br>
                    {{ form.username }} <br>
                </div>

                <div class="form-group">
                    <label class="form-check-label" for="password">{% trans 'Password' %} :</label>
                    <br>
                    {{ form.password }} <br>
                </div>

                <div class="form-check">
                    <label class="form-check-label" for="exampleCheck1">{% trans 'Remember Me' %}</label>
                    {{ form.remember_me }}
                </div>
                <br>


                {% get_current_language as LANGUAGE_CODE %}
                {% if LANGUAGE_CODE == 'fa' %}

                    <script src='https://www.google.com/recaptcha/api.js?hl=fa'></script>

                {% else %}
                    <script src='https://www.google.com/recaptcha/api.js'></script>

                {% endif %}
                
                <div class="g-recaptcha" data-sitekey="Yor DATA SITEKEY"></div>
                {% if messages %}
                <br>
                {% for message in messages %}
                <div class="alert alert-warning">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                
                <br>
                <input class="btn btn-lg btn-dark" type="submit" value="{% trans 'Login' %}">
            </form>
        </div>
        </div>

    </div>
    </div>
</div>


{% endblock %}