{% load static i18n %}
{% load vpn_tags %}
{% load jalali_tags %}

<style>
    .navbar-brand {
        color: white !important;
    }

</style>

{% get_current_language as LANGUAGE_CODE %}
{% if LANGUAGE_CODE == 'fa' %}
<script>
    $(".navbar-nav").addClass("mr-auto");
</script>

{% else %}
<script>
    $(".navbar-nav").addClass("ml-auto");
</script>

{% endif %}


<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #36a1ee;">
    <a class="navbar-brand" href="">{% trans 'Accounts Manage Page' %}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item" id="main">
                <a class="nav-link" href="{% url 'pannel:main' %}">{% trans 'Main' %}</a>
            </li>
            <li class="nav-item" id="list">
                <a class="nav-link" href="{% url 'pannel:list' %}">{% trans 'list' %}</a>
            </li>
            <li class="nav-item" id="add">
                <a class="nav-link" href="{% url 'pannel:add' %}">{% trans 'Add' %}</a>
            </li>
            <li class="nav-item" id="edit">
                <a class="nav-link disabled" href="{% url 'pannel:edit_view' %}">{% trans 'Edit'%}</a>
            </li>
            <li class="nav-item" id="service">
                <a class="nav-link disabled" href="{% url 'pannel:service_view' %}">{% trans 'Services'%}</a>
            </li>
        </ul>
    </div>
        {% if LANGUAGE_CODE == 'fa' %}
        <a class="nav-link">{% jalali_now '%Y-%m-%d' %}</a>
        {% else %}
        <a class="nav-link">{% now 'Y-m-d'  %}</a>
        {% endif %}
        <a class="nav-link">{{ user.username | title }}</a>
        <a class="nav-link disabled" href="{% url 'home:logout' %}">{% trans 'Logout'%}</a>
        <span style="visibility: hidden;">---</span>
        {% get_current_language as LANGUAGE_CODE %}
        
        {% if LANGUAGE_CODE == 'fa' %}
        {% change_current_url_lang request.path 'fa' as url%}
        <a href="{{ url }}">
            <img src="{% static '/img/us-flag.jpg' %}" alt="us-flag" width="25px"
                style="background: transparent; background-color: #36a1ee; border-radius: 15%;">
        </a>
        {% else %}
        {% change_current_url_lang request.path 'en' as url%}
        <a href="{{ url }}">
            <img src="{% static '/img/iran-flag.png' %}" alt="iran-flag" width="25px"
                style="background: transparent; background-color: #36a1ee; border-radius: 15%;">
        </a>
        {% endif %}
</nav>