{% extends 'base.html' %}
{% load static i18n %}

{% block head %}

{% endblock %}


{% block css %}

    .container{
        margin-top:100px;
    }

{% get_current_language as LANGUAGE_CODE %}
{% if LANGUAGE_CODE == 'fa' %}

    .container{
        margin-right: 100px;
    }

{% else %}

    .container{
        margin-left: 100px;
    }

{% endif %}
    
{% endblock %}


{% block content %}
{% include 'navbar_home.html' %}
<div class="container">
    <div class="row">
        <div class="col-lg-5">
            <div class="form-group">
                    <span style="color:red">*</span><label for="username">{% trans 'Username' %} :</label>
                    <input type="text" class="form-control mb-3" id="name" placeholder="{% trans 'Enter Your Username Here' %}">
                    <span style="color:red">*</span><label for="password">{% trans 'Ocserv Password' %}</label>
                    <input type="password" class="form-control mb-3" id="password" placeholder="{% trans 'Enter Your Password Here' %}">
                    <small id="usernameHelp" class="form-text text-muted mb-2">
                        {% trans 'Enter your username and password to view the expiration date of your account' %}
                    </small>
                    <button class="btn btn-primary mb-2" style="margin-left: 0px; margin-right: 0px;">{% trans 'Get Result' %}</button>
            </div>
        </div>
        <div class="col-lg-7" id="result">
        </div>
    </div>
</div>

{% get_current_language as LANGUAGE_CODE %}
{% if LANGUAGE_CODE == 'en' %}
<script>
    var lang = 'en';
</script>
{% else %}
<script>
    var lang = 'fa';
</script>
{% endif %}
<script>
    $("button").click(function () {
        var name = $("#name").val();
        var password = $("#password").val();
        if (name) {
            $.ajax({
                url: "/ajax/account_result/",
                data: {
                    'name': name,
                    'password': password,
                    'lang': lang,
                },
                success: function (data) {
                    $("#result").html(data);
                },
                error: function (data) {
                    location.reload();
                },
            });

        } else {
            $("#result").html("")
        }
    })
</script>

{% endblock %}