db.sqlite3
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
.env
.venv/
venv/
media/
TODO.txt
.vscode
old/
.DS_Store
node_modules
package-lock.json
dist/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


volumes/
notes.txt
note.txt
log.txt
db/
socket_passwd
dev.env
