{% extends 'base.html' %}

{% block body %}
<div class="d-flex justify-content-center ">
    <div class="py-4 px-5 mt-5" style="border: 2px solid black;width: 50%;">
        <h2 class="mb-4">Change Password Page</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group mb-5">
                <label class="mb-2" for="old_password">Old Password : </label>
                <input type="password" class="form-control" id="old_password" placeholder="Old Password" name="old_password">
            </div>
            <div class="form-group mb-5">
                <label class="mb-2" for="new_password">New Password : </label>
                <input type="password" class="form-control" id="new password" placeholder="New Password" name="new_password">
            </div>
            <input class="btn btn-lg btn-outline-success mb-3" type="submit" value="Change Password">
        </form>
        {% if error %}
        <center>
        <h6 class="bg-danger px-5 py-2 rounded">
            {{ error }}
        </h6>
        <center>
        {% endif %}
        </form>
    </div>
</div>

{% endblock %}