{% extends 'base.html' %}
{% load static %}

{% block head %}
<style>
    .pagination>li>a {
        background-color: #343a40;
        color: white;
    }

    .pagination>li>a:focus,
    .pagination>li>a:hover,
    .pagination>li>span:focus,
    .pagination>li>span:hover {
        color: black;
        background-color: #343a40;
        border-color: white;
    }

    .pagination>.active>a {
        color: black !important;
        background-color: white !Important;
        border: solid 1px white !Important;
    }

    .pagination>.active>a:hover {
        background-color: white !Important;
        border: solid 1px white;
    }
</style>
</style>
{% endblock %}

{% block body %}
<h2 class="mt-4">User Management Page</h2>

{% if search %}

<div class="py-2" style="border: 2px solid black;">
    <h5 class="mx-3">Online Users</h5>
    <span id="online_users" class="mx-4 text-primary text-justify">
    </span>
</div>

<div class="row mt-4 mb-4">
    <div class="col-4">
        <div class="ui-widget">
            <input id="userSearch" placeholder="Search User" class="form-control">
        </div>
    </div>
    <div class="col-8 text-right">
        <button class="btn btn-outline-success" onclick="syncDb()">
            <i class="fa fa-refresh mx-1" aria-hidden="true"></i>
            Ocpasswd Synchronise
        </button>
    </div>
</div>
{% endif %}
<table class="table table-striped table-dark">
    <thead>
        <tr class="text-center">
            <th scope="col">Create At</th>
            <th scope="col">Ocserv Username</th>
            <th scope="col">Ocserv Password</th>
            <th scope="col">Expire Date</th>
            <th scope="col">Active</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in object_list %}
        <tr class="text-center">
            <td scope="row">{{ user.create | date:'Y-m-d' }}</td>
            <td>{{ user.oc_username }}</td>
            <td>{{ user.oc_password }}</td>
            <td>{{ user.expire_date | date:'Y-m-d' }}</td>
            <td>{{ user.oc_active }}</td>
            <td>
                {% if user.oc_active %}
                <button class="btn btn-outline-warning btn-sm mx-1" onclick="userHandler('{{ user.id }}', 'deactive')"
                    id="deactive-{{ user.id }}">
                    Deactive
                </button>
                {% else %}
                <button class="btn btn-outline-info btn-sm  mx-1" onclick="userHandler('{{ user.id }}', 'active')"
                    id="active-{{ user.id }}">
                    Active
                </button>
                {% endif %}
                <button class="btn btn-outline-danger btn-sm" onclick="deleteUser('{{ user.id }}')"
                    id="del-{{ user.id }}">Delete</button>
                <button class="btn btn-outline-danger btn-sm" style="display: none;"
                    onclick="confirmDelete('{{ user.id }}')" id="confirm-{{ user.id }}">Delete</button>
                <button class="btn btn-outline-light btn-sm mx-1" style="display: none;"
                    onclick="cancelDelete('{{ user.id }}')" id="cancel-{{ user.id }}">Cancel</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if page_obj.has_next or page_obj.has_previous %}
<nav aria-label="Page navigation bg-dark" class="mt-5 mb-5">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous and page_obj.paginator.num_pages > 5 %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %} <li class="page-item">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next and page_obj.paginator.num_pages > 5 %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
            {% endif %}
    </ul>
</nav>
{% endif %}

{% if not search %}
<div class="text-center mt-3">
    <button onclick="window.location.href='/';" class="btn btn-outline-success btn-lg mx-3">Home</button>
    <button onclick="window.history.back();" class="btn btn-outline-light btn-lg">back</button>
</div>
{% endif %}

<script>
    function deleteUser(userId) {
        $('#del-' + userId).css('display', 'none');
        $('#confirm-' + userId).css('display', 'inline');
        $('#cancel-' + userId).css('display', 'inline');
        $('#deactive-' + userId).css('display', 'none');
        $('#active-' + userId).css('display', 'none');
    }
    function cancelDelete(userId) {
        $('#del-' + userId).css('display', 'inline');
        $('#confirm-' + userId).css('display', 'none');
        $('#cancel-' + userId).css('display', 'none');
        $('#deactive-' + userId).css('display', 'inline');
        $('#active-' + userId).css('display', 'inline');
    }
    function confirmDelete(userId) {
        $.ajax({
            url: "/del_user/",
            data: {
                'user_id': userId,
            },
            success: function (response) {
                location.reload(true);
            },
            error: function (response) {
                alert(response["responseJSON"]["error"]);
            }
        });
    }
    function userHandler(userId, action) {
        $.ajax({
            url: "/handler_user/",
            data: {
                'user_id': userId,
                'action': action,
            },
            success: function (response) {
                location.reload(true);
            },
            error: function (response) {
                alert(response["responseJSON"]["error"]);
            }
        });
    }
    function syncDb() {
        $.ajax({
            url: "sync_db/",
            success: function (response) {
                location.reload(true);
            },
            error: function (response) {
                alert("'chmod 644 /etc/ocserv/ocpasswd' to get access to sync ocpasswd with db")
            }
        });
    }

    function getOnlineUsers() {
        $.ajax({
            url: "online_users/",
            success: function (response) {
                let userSpan = $("#online_users")
                userSpan.html("")
                for (var name of response) {
                    userSpan.append(" #" + name)
                }
            },
        });
    }

    window.setInterval(function () {
        getOnlineUsers()
    }, 120000);

    $(document).ready(() => {
        getOnlineUsers()
    })

    $(function () {
        $("#userSearch").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/search_user/",
                    data: {
                        search_param: request.term
                    },
                    success: function (data) {
                        response(data);
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {
                location.href = '/' + ui.item.id + "/";
            }
        });
    });
</script>
{% endblock %}