{% extends 'base.html' %}

{% block body %}
<div class="d-flex justify-content-center ">
    <div class="py-4 px-5 mt-5" style="border: 2px solid black;width: 50%;">
        <h2 class="mb-4">Login Page</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group mb-5">
                <label class="mb-2" for="username">Username : </label>
                <input type="text" class="form-control" id="username" placeholder="Username" name="username">
            </div>
            <div class="form-group mb-5">
                <label class="mb-2" for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" name="password">
            </div>
            {% if GOOGLE_CAPTCHA_SITE_KEY %}
            <script src='https://www.google.com/recaptcha/api.js'></script>
            <div class="g-recaptcha" data-sitekey="{{ GOOGLE_CAPTCHA_SITE_KEY }}"></div>
            <br>
            {% endif %}
            <input class="btn btn-lg btn-light mb-3" type="submit" value="Login">
        </form>
        {% if error %}
        <center>
            <h6 class="bg-danger px-5 py-2 rounded">
                {{ error }} {{ message }}
            </h6>
        <center>
        {% endif %}
        {% if messages %}
            {% for message in messages %}
            <h6 class="bg-danger px-5 py-2 rounded">
                {{ message }}
            </h6>
            {% endfor %}
        {% endif %}
    </div>
</div>

<script>
    var elm = '<a class="nav-link" href="#">Login</a>';
    $("#auth").append(elm);
</script>
{% endblock %}