<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #eee;">
  <a class="navbar-brand mx-5" href="#">Ocserv User Pannel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% if user.is_authenticated %}
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'app:home' %}">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'app:add_user' %}">Add User</a>
      </li>
    </ul>
    {% endif %}
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active" id="auth">
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'app:logout' %}">Logout</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>