<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #eee;">
  <span class="d-inline-block text-dark mx-5" tabindex="0" data-toggle="tooltip" title=" Powered By : mmtaee64@gmail.com" style="font-size: 22px;">
        Ocserv User Pannel
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% if user.is_authenticated %}
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'app:home' %}">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'app:add_user' %}">Add User</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'app:services' %}">Ocserv Services</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto mx-5">
      <li class="nav-item active" id="auth">
        <a class="nav-link" href="{% url 'app:change_password' %}">Change Password</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'app:logout' %}">Logout</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>